body {
  background-color: #df5e88;
}

h1 {
  color: #e36387;
  background-color: #eeeeee;
  text-align: center;
  font-family: 'Galada', cursive;
  font-size: 50px;
}

div {
  background-color: rgba(255, 255, 255, .5);
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
  color: #363062;
}

.parallax {
  /* The image used */
  background-image: url("https://wallpaperplay.com/walls/full/6/d/c/46643.jpg");

  /* Set a specific height */
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#submit {
  background-color: white;
  color: black;
  border: 2px solid #e84a5f;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 8px;
}

.margin {
 padding: 30px;
}

#name,
#email,
#number {
  width: 100%;
}